/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.c1 {
  background-color: #639c1d;
  border-color: transparent transparent transparent #639c1d;
  color: #639c1d;
}
@media only screen and (max-width: 959px) {
  .c1 {
    border-color: #639c1d transparent transparent transparent;
  }
}
.c1d {
  background-color: #1c3813;
}
.c2 {
  background-color: #078ea8;
  border-color: transparent transparent transparent #078ea8;
  color: #078ea8;
}
@media only screen and (max-width: 959px) {
  .c2 {
    border-color: #078ea8 transparent transparent transparent;
  }
}
.c2d {
  background-color: #072936;
}
.c3 {
  background-color: #844cae;
  border-color: transparent transparent transparent #844cae;
  color: #844cae;
}
@media only screen and (max-width: 959px) {
  .c3 {
    border-color: #844cae transparent transparent transparent;
  }
}
.c3d {
  background-color: #2c1a3b;
}
.c4 {
  background-color: #cb7900;
  border-color: transparent transparent transparent #cb7900;
  color: #cb7900;
}
@media only screen and (max-width: 959px) {
  .c4 {
    border-color: #cb7900 transparent transparent transparent;
  }
}
.c4d {
  background-color: #492a00;
}
.c5 {
  background-color: #369363;
  border-color: transparent transparent transparent #369363;
  color: #369363;
}
@media only screen and (max-width: 959px) {
  .c5 {
    border-color: #369363 transparent transparent transparent;
  }
}
.c5d {
  background-color: #1a3f28;
}
.c6 {
  background-color: #5064a9;
  border-color: transparent transparent transparent #5064a9;
  color: #5064a9;
}
@media only screen and (max-width: 959px) {
  .c6 {
    border-color: #5064a9 transparent transparent transparent;
  }
}
.c6d {
  background-color: #1e2541;
}
html,
body {
  background-color: #747474;
  width: 100%;
  min-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Raleway Bold", sans-serif;
}
#MainContent {
  background-color: #292929;
  margin-left: 2%;
  height: 100%;
  width: 98%;
  position: relative;
  min-height: 787px;
}
@media only screen and (max-width: 719px) {
  #MainContent {
    width: 100%;
    height: 100%;
  }
}
#tabBar {
  width: 19%;
  height: calc(100% - 60px);
  float: left;
  padding: 30px 0px;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar {
    width: 100%;
    height: 20%;
    padding: 0px;
    float: none;
  }
}
@media only screen and (max-width: 719px) {
  #tabBar {
    display: none;
  }
}
#tabBar li {
  height: calc((100%) / 6);
  list-style: none;
  position: relative;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li {
    float: right;
    width: calc(99.9% / 6);
    height: 15%;
  }
}
#tabBar li .front {
  height: 100%;
  opacity: 0;
  background-color: #292929;
  text-align: center;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: optical;
  -moz-transition-property: optical;
  -o-transition-property: optical;
  transition-property: optical;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li .front {
    opacity: 1;
  }
}
#tabBar li .front:hover {
  opacity: 1;
}
#tabBar li .front .tab-tag {
  width: 7%;
  height: 100%;
  float: left;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li .front .tab-tag {
    width: 100%;
    height: 30%;
    float: none;
  }
}
@media screen and (min-width: 959px)  {
  #tabBar li .front .arrow {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    height: 0;
    width: 3%;
    border-style: solid;
    border-width: 0px;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-width;
    -moz-transition-property: border-width;
    -o-transition-property: border-width;
    transition-property: border-width;
    background-color: transparent;
  }
}
@media screen and (min-width: 959px)  {
  #tabBar li .front:hover .arrow {
    left: 7%;
    border-width: 10px 0px 10px 10px;
  }
}
@media screen and (min-width: 959px)  {
  #tabBar li .front .tab-text {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 30%;
    width: 80%;
    margin: -5% 0 0 0;
    color: #747474;
    font-weight: bold;
    font-size: 40px;
    opacity: 0;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li .front .tab-text {
    color: #b5b5b5;
    font-size: 20px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1367px) {
  #tabBar li .front .tab-text {
    font-size: 30px;
  }
}
#tabBar li .front:hover .tab-text {
  opacity: 1;
}
#tabBar li .back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: -10;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#tabBar li .back .tab-back-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #292929;
  font-weight: bolder;
  font-size: 50px;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li .back {
    height: 70%;
  }
  #tabBar li .back .tab-back-text {
    font-size: 25px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1367px) {
  #tabBar li .back .tab-back-text {
    font-size: 35px;
  }
}
@media screen and (min-width: 959px)  {
  #tabBar li.active {
    /*.keyframes(
          ~'animationName,
          50% {
            transform(translateX(-10px));
          },
          100%{
            transform(translateX(-10px) rotateY(180deg));
          }'
        );*/
    -webkit-transform: translateX(-200px) rotateY(180deg) translateX(-180px) translateY(-10px);
    -moz-transform: translateX(-200px) rotateY(180deg) translateX(-180px) translateY(-10px);
    -o-transform: translateX(-200px) rotateY(180deg) translateX(-180px) translateY(-10px);
    -ms-transform: translateX(-200px) rotateY(180deg) translateX(-180px) translateY(-10px);
    transform: translateX(-200px) rotateY(180deg) translateX(-180px) translateY(-10px);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  #tabBar li.active .front {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    opacity: 0;
  }
  #tabBar li.active .back {
    z-index: 10;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-box-shadow: 5px 5px 3px 3px #232323;
    -moz-box-shadow: 5px 5px 3px 3px #232323;
    box-shadow: 5px 5px 3px 3px #232323;
  }
  #tabBar li.active .back:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 0px;
    border-style: solid;
    border-width: 6px 10px 6px 10px;
    border-color: transparent #232323 #232323 transparent;
  }
  #tabBar li.active .back.c1:before {
    display: none;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #tabBar li.active {
    position: absolute;
    top: 7%;
    width: 30%;
    -webkit-transform: translateX(-200px) rotateY(180deg) translateX(-190px);
    -moz-transform: translateX(-200px) rotateY(180deg) translateX(-190px);
    -o-transform: translateX(-200px) rotateY(180deg) translateX(-190px);
    -ms-transform: translateX(-200px) rotateY(180deg) translateX(-190px);
    transform: translateX(-200px) rotateY(180deg) translateX(-190px);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  #tabBar li.active .front {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-property: opacity, position;
    -moz-transition-property: opacity, position;
    -o-transition-property: opacity, position;
    transition-property: opacity, position;
    opacity: 0;
  }
  #tabBar li.active .back {
    z-index: 10;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-box-shadow: 5px 5px 3px 3px #232323;
    -moz-box-shadow: 5px 5px 3px 3px #232323;
    box-shadow: 5px 5px 3px 3px #232323;
  }
  #tabBar li.active .back:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 0px;
    border-style: solid;
    border-width: 6px 5px 6px 5px;
    border-color: transparent #232323 #232323 transparent;
  }
}
#tabBar-phone {
  display: none;
  cursor: pointer;
  width: calc(100%);
  height: 50px;
  border-bottom: 1px solid #747474;
  color: #292929;
}
@media only screen and (max-width: 719px) {
  #tabBar-phone {
    display: block;
  }
}
#tabBar-phone .title {
  font-size: 30px;
  font-weight: bold;
  display: inline;
  line-height: 50px;
  padding-left: 20px;
}
#tabBar-phone .icon-more {
  width: 20px;
  height: 20px;
  padding: 15px;
  display: inline-block;
  float: right;
  background-color: transparent;
  border-style: none;
}
#tabBar-phone .icon-more span {
  width: 20px;
  height: 2px;
  margin-top: 4px;
  display: block;
  background-color: #292929;
}
#phone-nav {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 719px) {
  #phone-nav {
    display: block;
    width: 100%;
    z-index: 110;
    position: fixed;
    visibility: hidden;
    background-color: #292929;
    border-bottom: 1px solid #747474;
  }
  #phone-nav div {
    opacity: 0;
    line-height: 0px;
    background-color: #292929;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #phone-nav.active {
    visibility: visible;
  }
  #phone-nav.active div {
    opacity: 1;
    line-height: 40px;
  }
}
#container {
  width: calc(80% - 20px);
  height: 100%;
  margin: auto;
  float: right;
  position: relative;
  color: #b5b5b5;
  overflow-y: scroll;
  overflow-x: hidden;
  /*
  #otherSkill {
    .flex-direction(row);

    .col {
      .flex(1);
    }

    .main {
      .flex(4);
      height: 60%;

      ul {
        width: 100%;
        height: 100%;
        position: relative;

        li {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;

          img {
            position: absolute;
            height: 100%;
          }
        }
      }
    }
  }
*/
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #container {
    width: calc(100% - 20px);
    height: calc(75% - 20px);
    float: none;
  }
}
@media only screen and (max-width: 719px) {
  #container {
    width: calc(100% - 20px);
    height: calc(100% - 71px);
    float: none;
  }
}
#container .content {
  width: 100%;
  height: calc(100% - 60px);
  margin: auto;
  padding: 30px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
}
@media screen and (max-width: 1367px)  {
  #container .content {
    font-size: 20px;
  }
}
#container #intro p {
  padding-right: 20%;
}
#container #intro p span {
  cursor: pointer;
  color: #9c9b33;
  font-size: 200%;
}
#container #aboutMe {
  line-height: 150%;
}
#container #aboutMe .main {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 80%;
}
#container #aboutMe .main span {
  color: #639c1d;
}
#container #aboutMe .bracket {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1500%;
  color: #639c1d;
  font-weight: 100;
}
@media only screen and (max-width: 719px) {
  #container #aboutMe .bracket {
    display: none;
  }
}
#container #javascript {
  flex-direction: row;
}
#container #javascript .smallCol {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
#container #javascript .col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60%;
}
#container #javascript .col .card {
  width: 100%;
  height: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#container #javascript .col .card .front {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 10;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
#container #javascript .col .card .front .titleBox .title:first-letter {
  font-size: 500%;
  color: #078ea8;
}
#container #javascript .col .card .front .describe {
  width: 90%;
  text-align: center;
  border-top: #747474 2px solid;
  margin: 10px auto 0px auto;
  padding-top: 10px;
  color: #078ea8;
}
#container #javascript .col .card .back {
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 9;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 80%;
  padding: 0px 10%;
  line-height: 120%;
}
#container #javascript .col .card .back span {
  color: #078ea8;
}
#container #javascript .col:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#container #javascript .col:hover .card .front {
  z-index: 9;
}
#container #javascript .col:hover .card .back {
  z-index: 10;
}
#container #css {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#container #css .row {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#container #css .main {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
  position: relative;
  width: 60%;
}
#container #css .main .part {
  position: absolute;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#container #css .main .part .title {
  width: auto;
  font-size: 500%;
  color: #844cae;
}
#container #css .main .part .describe {
  font-size: 80%;
}
#container #css .main .part .describe span {
  color: #844cae;
}
#container #css .main .part.top {
  top: 0px;
  -webkit-box-pack: flex-start;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
#container #css .main .part.top .describe {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  text-align: left;
  margin-left: 10px;
}
#container #css .main .part.bot {
  bottom: 0px;
  -webkit-box-pack: flex-end;
  -moz-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
#container #css .main .part.bot .describe {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  text-align: right;
  margin-right: 10px;
}
#container #otherSkill svg {
  width: 500px;
  height: 500px;
}
#container #otherSkill svg path {
  stroke: #747474;
  stroke-width: 30px;
  fill: none;
  z-index: 11;
}
#container #otherSkill svg path.shadow {
  opacity: 0;
  stroke-width: 50px;
  z-index: 10;
}
#container #otherSkill svg path:hover {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  stroke: #cb7900;
  stroke-width: 40px;
}
#container #otherSkill svg path.shadow.active {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  opacity: 0.5;
  stroke: #cb7900;
}
#container #otherSkill svg text {
  fill: #747474;
}
#container #otherSkill svg text.title {
  fill: #cb7900;
  font-size: 60px;
}
#container #otherSkill svg text.describe {
  font-size: 20px;
}
#container #works {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#container #works .row {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#container #works .main {
  height: 378px;
  width: 80%;
}
#container #works .main .monitor {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  width: 600px;
  height: 338px;
  position: relative;
  border: 10px solid #747474;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  overflow-x: hidden;
}
#container #works .main .monitor img {
  height: 100%;
  position: absolute;
  left: 0px;
}
#container #works .main .stand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  height: 30px;
  width: 70px;
  border-width: 0px 10px 30px 10px;
  border-color: transparent transparent #b5b5b5 transparent;
  border-style: solid;
}
#container #works .main .bottom {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 10px;
  width: 200px;
  margin: auto;
  border-top: 10px solid #747474;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius-topright: 10px;
  -moz-background-clip: padding;
  border-top-right-radius: 10px;
  background-clip: padding-box;
}
#container #works .progress {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#container #works .progress .arrow {
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
#container #works .progress .arrow.left {
  border-left: 2px solid #369363;
  border-bottom: 2px solid #369363;
}
#container #works .progress .arrow.right {
  border-right: 2px solid #369363;
  border-top: 2px solid #369363;
}
#container #works .progress li {
  float: left;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #747474;
  margin: 0px 10px;
  cursor: pointer;
}
#container #works .progress li.active {
  background-color: #369363;
}
#container #works .describe {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 80%;
  position: relative;
}
#container #works .describe li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: -10;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#container #works .describe li .title {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  color: #369363;
  font-size: 200%;
  text-align: right;
  padding-right: 30px;
  border-right: 5px solid #747474;
}
#container #works .describe li .text {
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  padding-left: 20px;
  font-size: 80%;
  text-align: left;
}
#container #works .describe li .text p {
  line-height: 150%;
}
#container #works .describe li .text p a {
  color: #369363;
}
#container #works .describe li .text p span {
  color: #747474;
}
#container #works .describe li.active {
  height: auto;
  opacity: 1;
  z-index: 0;
}
#container #findMe .main {
  margin: auto;
  width: 60%;
  line-height: 150%;
}
#container #findMe .main span {
  color: #5064a9;
}
#container #findMe .main a {
  color: #5064a9;
}
#scrollBarCover {
  position: absolute;
  right: 0px;
  width: 25px;
  height: 100%;
  z-index: 100;
  background-color: #292929;
  clear: both;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  #scrollBarCover {
    top: 15%;
    height: 85%;
  }
}
@media only screen and (max-width: 719px) {
  #scrollBarCover {
    top: 51px;
    height: calc(100% - 51px);
  }
}
#ver-line {
  background-color: #747474;
  width: 2px;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 20%;
}
